/* -------------------------------------------- */
/*                  Components                  */
/* -------------------------------------------- */

.projects__cards {
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
}

.projects__cards__card {
  overflow: hidden;
  box-shadow: 0 0 20px var(--clr-shadow);
  border: var(--border) var(--clr-light-gray);
  background-color: var(--clr-gray);

  & img {
    width: 100%;
    height: 220px;
    object-position: top;
  }

  & div {
    padding: var(--space-1);
  }
}
