/* -------------------------------------------- */
/*                  Media Query                 */
/* -------------------------------------------- */

@media (min-width: 768px) {
  /* ------------------ Header ------------------ */

  .header__nav {
    position: static;
    width: fit-content;
    border: 0;
  }

  .header__nav ul {
    display: flex;
    gap: var(--space-1-5);
  }

  .header__nav li {
    height: auto !important;
    margin: 0 !important;
    overflow: visible;
    transition: none;
  }

  .btn--burger {
    display: none;
  }

  /* ----------------- Sections ----------------- */

  main > section {
    padding-block: 7rem;
  }
}
