/* -------------------------------------------- */
/*               Global Variables               */
/* -------------------------------------------- */

:root {
  --clr-gray: #262626;
  --clr-dark-gray: #212121;
  --clr-light-gray: #363636;
  --clr-lighter-gray: #4e4e4e;
  --clr-soft-white: #e5e5e5;
  --clr-white: #ffffff;
  --clr-orange: #f06c3e;

  --clr-shadow: rgba(0, 0, 0, 0.3);

  --ff-primary: "Poppins", Helvetica, Verdana, sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;

  --space-0-3: 0.3rem;
  --space-0-5: 0.5rem;
  --space-1: 1rem;
  --space-1-5: 1.5rem;
  --space-2: 2rem;
  --space-2-5: 2.5rem;
  --space-3: 3rem;

  --border: 1px solid;
  --border-radius: 5px;

  --tr-linear: 125ms linear;
  --tr-ease: 250ms ease;

  --container-width: 1000px;
  --screen-edge: var(--space-1);
  --height-header: 60px;
}

/* -------------------------------------------- */
/*                    Resets                    */
/* -------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
}

/* -------------------------------------------- */
/*                Global Elements               */
/* -------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff-primary);
  color: var(--clr-soft-white);
  background-color: var(--clr-dark-gray);
}

main > section {
  padding-block: var(--space-3);
  scroll-margin-top: var(--space-2);
}

h1,
h2,
h3 {
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  text-transform: capitalize;
  text-wrap: balance;
  line-height: 1.3;
}

h2,
i {
  font-size: 2.3rem;
}

p {
  font-weight: var(--fw-light);
  line-height: 1.7;
  hyphens: auto;
}

/* -------------------------------------------- */
/*                Links / Buttons               */
/* -------------------------------------------- */

.link-hover,
.btn {
  width: fit-content;
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  transition: color var(--tr-linear), border-color var(--tr-linear);
}

.link-hover:hover {
  color: var(--clr-orange);
}

.btn {
  padding: var(--space-0-5) var(--space-1);
  color: inherit;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: inherit;
}

.btn:active {
  transform: scale(0.95);
}

.btn--orange {
  border: var(--border) var(--clr-orange);
}

.btn--orange:hover {
  border-color: var(--clr-soft-white);
}

.btn--burger {
  padding: var(--space-0-3);
  border: var(--border) var(--clr-soft-white);
}
