/* -------------------------------------------- */
/*                Header & Footer               */
/* -------------------------------------------- */

header,
footer {
  background-color: var(--clr-gray);
}

header {
  position: sticky;
  top: 0;
  border-bottom: var(--border) var(--clr-light-gray);
  z-index: 1;
}

header .container {
  height: var(--height-header);
}

footer {
  padding-block: var(--space-1);
  border-top: var(--border) var(--clr-light-gray);
}

/* -------------------------------------------- */
/*               Header Navigation              */
/* -------------------------------------------- */

.header__nav {
  position: absolute;
  top: calc(var(--height-header) - var(--space-0-5));
  left: 0;
  width: 100%;
  background-color: var(--clr-gray);
  z-index: 2;
}

.header__nav li {
  height: 0;
  line-height: var(--space-2-5);
  text-align: center;
  overflow: hidden;
  transition: height var(--tr-ease);
}

.header__nav--open {
  border-bottom: var(--border) var(--clr-light-gray);
}

.header__nav--open li {
  height: var(--space-2-5);
  overflow: visible;
}

.header__nav--open li:last-child {
  margin-bottom: var(--space-0-5);
}

/* -------------------------------------------- */
/*                   Sections                   */
/* -------------------------------------------- */

/* ----------------- Projects ----------------- */

.projects__container {
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
}

.projects__card {
  overflow: hidden;
  box-shadow: 0 0 20px var(--clr-shadow);
  border: var(--border) var(--clr-light-gray);
  background-color: var(--clr-gray);
}

.projects__card__image {
  width: 100%;
  height: 220px;
  object-position: top;
}

.projects__card__content {
  padding: var(--space-1);
}
