/* -------------------------------------------- */
/*                Header & Footer               */
/* -------------------------------------------- */

header,
footer {
  background-color: var(--clr-gray);
}

header {
  position: sticky;
  top: 0;
  border-bottom: var(--border) var(--clr-light-gray);
  z-index: 1;

  & .container {
    height: var(--height-header);
  }
}

footer {
  padding-block: var(--space-1);
  border-top: var(--border) var(--clr-light-gray);
}

/* -------------------------------------------- */
/*               Header Navigation              */
/* -------------------------------------------- */

.header__nav {
  position: absolute;
  top: calc(var(--height-header) - var(--space-0-5));
  left: 0;
  width: 100%;
  background-color: var(--clr-gray);
  z-index: 2;

  & li {
    height: 0;
    line-height: var(--space-2-5);
    text-align: center;
    overflow: hidden;
    transition: height var(--tr-ease);
  }
}

.header__nav--open {
  border-bottom: var(--border) var(--clr-light-gray);

  & li {
    height: var(--space-2-5);
    overflow: visible;
  }

  & li:last-child {
    margin-bottom: var(--space-0-5);
  }
}

/* -------------------------------------------- */
/*                   Sections                   */
/* -------------------------------------------- */

/* ----------------- Projects ----------------- */

.projects__container {
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
}

.projects__card {
  overflow: hidden;
  box-shadow: 0 0 20px var(--clr-shadow);
  border: var(--border) var(--clr-light-gray);
  background-color: var(--clr-gray);

  & img {
    width: 100%;
    height: 220px;
    object-position: top;
  }

  & div {
    padding: var(--space-1);
  }
}

/* ------------------ Contact ----------------- */

.contact__container {
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.contact__form {
  & div:first-of-type {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }

  & .error-border {
    outline-color: var(--clr-red);
    border-color: var(--clr-red);
  }

  & .error-msg {
    margin-top: var(--space-0-3);
    font-size: var(--fs-small);
    color: var(--clr-red);
  }

  & .success-msg {
    color: var(--clr-green);
  }
}
