/* -------------------------------------------- */
/*                Utility Classes               */
/* -------------------------------------------- */

.container {
  width: min(var(--container-width), 100% - (var(--screen-edge) * 2));
  margin-inline: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.place-items-center {
  place-items: center;
}

.gap-0-5 {
  gap: var(--space-0-5);
}

.gap-1 {
  gap: var(--space-1);
}

.gap-2 {
  gap: var(--space-2);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.rounded-corners {
  border-radius: var(--border-radius);
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: var(--fs-large);
}

.text-short {
  max-width: 45ch;
}

.text-white {
  color: var(--clr-white);
}

.text-orange {
  color: var(--clr-orange);
}

.line-orange {
  position: relative;
  margin-bottom: var(--space-3);
}

.line-orange::after {
  content: "";
  position: absolute;
  inset: auto auto calc(var(--space-1) * -1) 50%;
  width: 50px;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--clr-orange);
}
